/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";


html, body, #root, .app-wrapper {
  color: #8b8b8b;
  overflow-y: hidden;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  position: relative;
  background: #f8f8f8;
}

.navbar-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid #e6e6e6;
  height: 120px;
  background: white;

  .options-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    button {
      background: white;
      border-radius: 5px;
      border: 1px solid #e6e6e6;
    }

    input {
      width: 230px;
      padding: 3px 8px;
      font-size: 15px;
      border-radius: 5px;
      margin-left: 10px;
    }
  }

  .title-container {
    display: flex;
    justify-content: center;
    
    img {
      width: 150px;
    }

    div {
      line-height: 45px;
    }
  }
}

#map {
  height: 80%;
  width: 100%;
  position: absolute;
}

.list-index {
  position: absolute;
  width: 100%;
  height: 78%;
  overflow: scroll;
  margin-top: 12px;

  .list-item {
    height: 68px;
    display: flex;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 20px;
    background: white;

    .list-details {
      padding-left: 10px;

      .list-details__name {
        font-weight: bold;
        font-size: 12px;
      }

      .list-details__price {
        font-size: 13px;
      }
    }

    .list-image {
      width: 25%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.toggle-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 70px;
  z-index: 10;


  .toggle-button {
    font-size: 16px;
    height: 42px;
    width: 100px;
    border-radius: 5px;
    background: #428a17;
    color: white;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
}

.hidden {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {

}
